header {
  height: 140px;
  width: 980px;
  background-color: aqua;
  margin: auto;
  margin-bottom: 15px;
}
main {
  height: 1000px;
  width: 980px;
  background-color: white;
  margin: auto;
  margin-bottom: 15px;
}
aside {
  height: 1000px;
  width: 250px;
  background-color: brown;
  margin: auto;
  float: left;
  margin-right: 15px;
}
section {
  height: 1000px;
  width: 715px;
  background-color: brown;
  margin: auto;
  float: left;
}
footer {
  height: 70px;
  width: 980px;
  background-color: aqua;
  margin: auto;
}
